<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- Input Component -->

      <app-message
        [messageVarClasse]="messageBinding"
        (outputMessage)="messageBinding.content = $event"
      >
      </app-message>
      <br />

      <!-- Signal Input Component        -->

      <app-message-signal
        [messageVarClasse]="msg"
        (outputMessage)="msg.content = $event"
        *ngFor="let msg of messageS"
      ></app-message-signal>

      <br /><br />



      <!-- @for Control Flow -->

      @for (msg of messageS; track $index) {
        <app-message-signal
          [messageVarClasse]="msg"
          (outputMessage)="msg.content = $event"
        ></app-message-signal>
      }

      <br> <br>


      <!-- If Else  -->

      
      <button (click)="onMudaMostrarElemento()">
        Clique aqui 'com then e else'
      </button>
      <p *ngIf="mostrarElemento; then thenBlockMy; else elseBlockMy"></p>
      <ng-template #thenBlockMy
        ><p>{{ mostrarElemento }} - Mostrando do Then</p></ng-template
      >
      <ng-template #elseBlockMy
        ><p>{{ mostrarElemento }} - Mostrando do Else</p></ng-template
      >

      <br> <br>


      <!-- @If Else Control Flow -->

      <button (click)="onMudaMostrarElemento()">
        Clique aqui 'com then e else'
      </button>

      @if (mostrarElemento) {
        <p> {{ mostrarElemento }} - Mostrando o Then com Control Flow </p>
      } @else {
        <p> {{ mostrarElemento }} - Mostrando do Else com Control Flow </p>
      }

      <br> <br>


      <!-- Switch Case -->

      <button (click)="valorNgSwitch=1"> selecione - 1 </button>
      <button (click)="valorNgSwitch=2"> selecione - 2 </button>
      <button (click)="valorNgSwitch=3"> selecione - 3 </button>
      <h5>Você selecionou: {{ valorNgSwitch }}</h5>

      <div [ngSwitch]="valorNgSwitch">
        <div *ngSwitchCase="1">1. Template - <b> {{valorNgSwitch}} </b></div>
        <div *ngSwitchCase="2">2. Template - <b> {{valorNgSwitch}} </b></div>
        <div *ngSwitchCase="3">3. Template - <b> {{valorNgSwitch}} </b></div>
        <div *ngSwitchDefault=>Default Template</div>
      </div>

      <br> <br>

      <!-- @Switch Case Control Flow -->

      @switch (valorNgSwitch) {
        @case (1) { <div>1. Template com Control Flow -  <b> {{valorNgSwitch}} </b></div>}
        @case (2) { <div>2. Template com Control Flow -  <b> {{valorNgSwitch}} </b></div>}
        @case (3) { <div>3. Template com Control Flow -  <b> {{valorNgSwitch}} </b></div>}
        @default  { <div>Default Template com Control Flow -  <b> {{valorNgSwitch}} </b></div>}

      }

    </div>
  </div>
</div>